<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Template Driven Form Exercise</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/sfdeloach/learn-angular" target="_blank">by sfdeloach</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
