<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" class="img-responsive img-thumbnail" alt="Responsive image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <hr>
    <div appDropdown class="btn-group dropup"> <!-- CSS class 'open' controlled via custom Directive -->
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onToShoppingList()">To Shopping List</a></li>
        <li><a (click)="onEditClick()">Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      {{ recipe.description }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
