<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" class="img-responsive img-thumbnail" alt="Responsive image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <hr>
    <div class="btn-group open">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <hr>
      <ul class="dropdown-menu">
        <li>
          <a href="#">To Shopping List</a>
        </li>
        <li>
          <a href="#">Edit Recipe</a>
        </li>
        <li>
          <a href="#">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
    <hr>
  </div>
</div>
