<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">learn-angular</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a>Observables</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/">
          <a>Home</a>
        </li>
        <li role="presentation" routerLinkActive="active" [routerLink]="['user', '1']">
          <a>User 1 {{ isUser1Activated ? "(active)" : "" }}</a>
        </li>
        <li role="presentation" routerLinkActive="active" [routerLink]="['user', '2']">
          <a>User 2 {{ isUser2Activated ? "(active)" : "" }}</a>
        </li>
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
