<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)">
      <p>{{ serverName }}</p> -->

      <div class="form-group">
        <label for="servername">Server Name</label>
        <input id="servername" type="text" class="form-control" [(ngModel)]="serverName">
      </div>
      <input [disabled]="disableButtonTimer" type="button" class="btn btn-primary" value="Add Server" (click)='updateServerName()'>
      <div class="form-group" *ngIf="addServerButtonClick; else elseStuffGoesHere;">
        <p>{{ serverStatus }}</p>
      </div>
      <ng-template #elseStuffGoesHere class="form-group">  <!-- example of if-else template -->
        <p>I have nothing for you, it's time to go.</p>
      </ng-template>

      <h1>This message is coming to you from the {{title}}!</h1>
      <div app-servers></div>
      <!-- attribute selector -->
      <hr>
      <h3>Output Data</h3>

      <h4>Examples of string interpolation:</h4>
      <p>True: <code>{{ (getAlwaysTrue()) }}</code></p>
      <p>False: <code>{{ alwaysFalse }}</code></p>
      <p>Ternary expression example: {{ erraticText === "black" ? 'black' : 'white' }}</p>
      <hr>
      <h4>Examples of property binding:</h4>
      <p [innerHTML]="alwaysTrue">It does not matter what is put here, it will be overwritten!</p>
      <p [style.color]="color" [style.background]="background">The color purple set by attribute and property binding</p>
      <p [style.color]="erraticText">Help me! I have three seperate interval functions controlling my text color!</p>
      <hr>
      <h3>Input Data - reacting to user events</h3>

      <h4>Examples of event binding:</h4>
      <div class="btn-toolbar">
        <button (mousemove)="onAddBtn(-1000)" type="button" class="btn btn-danger">-1000</button>
        <button (mousemove)="onAddBtn(-100)" type="button" class="btn btn-danger">-100</button>
        <button (mousemove)="onAddBtn(-10)" type="button" class="btn btn-danger">-10</button>
        <button (mousemove)="onAddBtn(-1)" type="button" class="btn btn-danger">-1</button>
        <button (mousemove)="onAddBtn(0)" type="button" class="btn btn-warning">reset</button>
        <button (mousemove)="onAddBtn(1)" type="button" class="btn btn-success">+1</button>
        <button (mousemove)="onAddBtn(10)" type="button" class="btn btn-success">+10</button>
        <button (mousemove)="onAddBtn(100)" type="button" class="btn btn-success">+100</button>
        <button (mousemove)="onAddBtn(1000)" type="button" class="btn btn-success">+1000</button>
      </div>
      <p> Click counter: {{ clickCount }} </p>

      <hr>
      <h4>Examples of event binding with <code>$event</code> passed as an argument:</h4>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address (input)</label>
        <input (input)="onInput($event)" type="email" class="form-control" id="exampleInputEmail1" placeholder="enter email here...">
        <p>email address: <strong><code>{{ emailInput }}</code></strong></p>
        <p>validation message: <strong><code>{{ validMessage }}</code></strong></p>
        <label for="exampleInputEmail2">Email address (keypress)</label>
        <input (keypress)="onKeypress($event)" type="email" class="form-control" id="exampleInputEmail2" placeholder="enter email here...">
        <p>email address: <strong><code>{{ emailKeypress }}</code></strong></p>
      </div>
    </div>
  </div>
</div>
