.entry-needed {
  border-left: 5px solid rgb(66, 132, 218);
}

.entry-error {
  border-left: 5px solid rgb(172, 66, 66);
}

.entry-valid {
  border-left: 5px solid rgb(88, 204, 102);
}

.message-error {
  background-color: rgb(246, 172, 172);
  border: 1px solid rgb(208, 136, 136);
  border-radius: 6px;
  color: rgb(172, 66, 66);
  margin-top: 2px;
  padding: 10px;
}
