<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-primary" (click)="toggleOdd()">Only show odd numbers</button>
      <ul class="list-group">
        <div *ngIf="!oddNumbers; else onlyOdd;">
          <li
            [ngClass]="{'odd': number % 2 !== 0}"
            [ngStyle]="{color: number % 2 === 0 ? 'dodgerblue' : 'transparent'}"
            *ngFor="let number of getNumbers()"
            class="list-group-item">
            {{ number }}
          </li>
        </div>
        <ng-template #onlyOdd>
          <li
            *ngFor="let number of getNumbers('odd')"
            appBasicHighlight
            class="list-group-item">
            {{ number }}
          </li>
        </ng-template>
      </ul>
      <p appBetterHighlight [defaultColor]="'#337ab7'" [highlightColor]="'darkblue'">Styled with Renderer2 directive</p>
    </div>
  </div>
</div>
