<div class="ui raised very padded text container segment">
  <h6 class="ui header">Section: 2</h6>
  <h2 class="ui header">The Basics</h2>
  <h4 class="ui header">Assignment Two</h4>
  <div class="ui huge icon input">
    <input type="text" placeholder="Enter your username..." [(ngModel)]="username">
    <i class="keyboard icon"></i>
  </div>
  <p>{{ username }}</p>
  <button [disabled]="isEmpty()" (click)="resetUsername()" class="ui button">Reset Text</button>
</div>
<div class="ui raised very padded text container segment">
<h4 class="ui header">Instructions:</h4>
<ol>
  <li>Add an input field which updates a property <code>username</code> via two-way-binding</li>
  <li>Output the user name property via string interpolation (in a paragraph below the input)</li>
  <li>Add a button which may only be clicked if the user name is NOT an empty string</li>
  <li>Upon clicking the button, the user name should be reset to an empty string</li>
</ol>
</div>
